# Import necessary packages
Test out the environment to make sure you have the packages needed to run this notebook.

In [ ]:
# Test importing package/s.ðŸ¤ž for no errors!
import pandas as pd

Next, let's see where the `pandas` package is loading from. The path should include the class environment. Let an instructor know if it's not.

In [ ]:
# See where pandas is loading from
pd.__path__

# Download Airbnb data

We will be using data from public Airbnb listings for this class session. This data has been collected by [Inside Airbnb](https://insideairbnb.com/) and was used for an award-winning NLP paper ([Brunila et al. 2023](https://aclanthology.org/2023.emnlp-main.284/) if you're curious.)

To download the data:
1. Go to https://insideairbnb.com/get-the-data/
2. Choose a city's data under **Data Downloads**.
3. Right-click `listings.csv.gz` and copy the link (URL).
4. Paste it as `listings_url` in the next cell.

In [ ]:
listings_url = '' # FILL IN with your URL
output_filename = '' # FILL IN a name for your output file. No need for a file extension

Let's download and unzip the data with some shell (terminal) commands. Recall that you can run shell commands right from Jupyter notebooks by using `!`

In [ ]:
# Download and unzip data
! wget {listings_url} -O {output_filename}.csv.gz 
! gunzip -c {output_filename}.csv.gz > {output_filename}.csv # This unzips the file into a regular CSV file

# Load data
Now let's load this data into a tabular format in-memory for manipulation. In particular we'll load into the main Pandas data object, the `DataFrame`.

In [ ]:
import pandas as pd

listings = pd.read_csv(f'{output_filename}.csv') # reads CSV file into a pandas dataframe
listings.info() # provide basic information about this dataframe
listings.head() # see first 5 rows of the dataframe

# Data types in Python and Pandas
Let's review different data types in Python and then the data types of column in Pandas.

In [ ]:
# Strings go between single or double quotes
example_string = "" # FILL IN
type(example_string)

In [ ]:
# Integers
example_int = # FILL IN a number
type(example_int)

In [ ]:
# Decimal numbers
example_float = # FILL IN a decimal number
type(example_float)

In [ ]:
# Boolean values
example_boolean = # FILL IN True or False
type(example_boolean)

Ok, let's take a look at the data types of entire columns of data in the Pandas DataFrame.

In [ ]:
listings.dtypes

Let's look into that "object" data type by **selecting** some columns of data that have that type. You can select a single column by putting its name between `[ ]` after the dataframe name.

In [ ]:
obj_column = '' # FILL IN the name of a column that has an "object" data type
listings[obj_column]

You can select multiple columns from a Pandas DataFrame by passing a list of column names to `[ ]`.

In [ ]:
obj_columns = [] # FILL IN a Python list of column names that have the object type
listings[obj_columns]

Not sure if you included it, bu the `last_scraped` column looks like a date! One of the ways you can parse columns as dates is setting an argument to the `read_csv` function.

In [ ]:
# Load data with pandas
import pandas as pd

listings = pd.read_csv(f'{output_filename}.csv', parse_dates=['last_scraped']) # reads CSV file into a pandas dataframe
listings.info() # provide basic information about this dataframe
listings.head() # see first 5 rows of the dataframe

In [ ]:
# Expand pandas view (good for seeing more of text)
pd.set_option('display.max_colwidth', None)
listings[['listing_url', 'description']].head() # just see the first 5 rows

# Subset and select parts of DataFrames
If you're selecting parts of a DataFrame that you will be working with later, it's good practice to run the `.copy()` function after your subsetting so that any changes you make will not affect the original.

In [ ]:
subset_columns = ['listing_url', 'name', 'description', 'neighborhood_overview', 'neighbourhood', 'price']
subset = listings[subset_columns].copy()
subset.info()

In [ ]:
# Check for NaN values
subset['description'].isna().sum()

In [ ]:
# Convert NaN values to empty strings
subset['description_processed'] = subset['description'].fillna('')
subset[['description', 'description_processed']].head()

You can select specific rows and columns from Pandas DataFrames with the following syntax.
```python
df.loc[row_name, column_name]
```
Note that `row_name` and `column_name` can be single values or lists.

In [ ]:
subset.loc[2, ['name', 'description_processed', 'price']]

What if we wanted just those rows that contained certain values in specific columns?

In [ ]:
subset.neighbourhood

The `value_counts()` function is very useful to quickly see the number of times each unique value occurs in a column.

In [ ]:
subset.neighbourhood.value_counts()

Let's make a filter that returns `True` if there is not a NaN value for the `neighborhood_overview` column.

In [ ]:
row_filter = ~subset.neighborhood_overview.isna()
row_filter

And apply that filter to the dataframe to create a new one with just rows that have non-NaN values for the `neighborhood_overview` column.

In [ ]:
has_overview = subset.loc[row_filter, ['name', 'description_processed', 'neighborhood_overview']].copy()
has_overview

# Lowercasing
You can use [pandas' built-in functions for processing strings](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#string-methods) to perform single text processing tasks like lowercasing. These functions apply to the string transformation to each element in a column. These are "vectorized", i.e., they are optimized to apply to all cells in a column without iterating through things like for loops.

Can you find which string function might lowercase the strings? Feel free to search online or ask an LLM, too.

In [ ]:
subset['description_processed'] = # FILL IN your function to lowercase the description here
subset[['description', 'description_processed']].head()

# Custom functions
Sometimes you'll need to create your own Python function to apply to each cell in a column. Here we'll do that for the `price` column. Let's take a look at it. Note that you can also select columns in a Pandas DataFrame with the syntax: `df.column`

In [ ]:
subset.price

Looks ok, but it's an `object` data type. That means it's treated as a string and we can't easily do things like select all rows over or under a certain price. Let's create a new column that converts this current column to a numeric value.

Feel free to start filling in the template function below to convert each cell value (the `dollar_string` input variable) to a numeric data type. This function returns a new variable, the dollar values as a numeric value (`dollar_float` variable).

In [ ]:
def convert_currency(dollar_string):
    # FILL IN your code here
    
    return dollar_float

You can apply your own function as a speedy vectorized operation across all the cells in a column by passing your function name to the `map` function.

In [ ]:
subset['price_float'] = subset.price.map(convert_currency)
subset[['price', 'price_float']]

Take a look at the data type of the new `price_float` column. Is it numeric or still `object`?

In [ ]:
subset.price_float.dtype

Now we could filter by values of the price! Here's an example of listings below $100. Note that we skip explicitly defining the filter in a separate variable, but simply pass it directly to the row values part of `.loc`

In [ ]:
subset_under100 = subset.loc[subset['price_float']<100, :]
subset_under100